html,
body {

    background-color: #5BBDF9;
    background-repeat: repeat;
    margin: 0;
    padding: 0;
    font-size: 1em;
    width: 100%;
    height: 100%;
}

#mainblock {
    width 100% height: 100%;
}


/*NAV BAR*/

.navbar-dark .navbar-nav .nav-link {
    color: white;
    letter-spacing: 2px;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #1CCFEB;
}

#homepage {
    padding-top: 50px;
}
#homepage img
{
    width: 60%;
}

#aboutme
{ 
    width: 100%;
    text-align: center;
}

/* #profilpicture
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
} */

#aboutme img {
   
    margin-left: 35%;
    width: 50%;
    border-radius: 40px;
}


#blockexperiences {
    width: 100%;
    height: 100%;
    background-color: #1CCFEB;
}

#formations {
    width: 100%;
    height: 100%;

}


/*Style des balises, traits, police*/
h1,
h2 {
    color: white;
    text-align: center;
    font-weight: bold;
}

hr {
    background-color: white;
    
    width: 80%;
    height: 2px;
}